@charset "UTF-8";

/*共通部分*/
html{
  font-size: 100%;
}
body{
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体","ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.5;
  color: #432;
  min-width: 300px;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}
.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}
article{
	color:#000;
	margin:5px;
	overflow: auto;
  width:80%;;
  margin-right: auto;
  margin-left : auto;
}

.page-top
{
	margin: 0 ;
	padding: 0 ;
}

.page-top p
{
	margin: 0 ;
	padding: 0 ;

	position: fixed ;
	right: 16px ;
	bottom: 16px ;
}

.move-page-top
{
	display: block ;
	background: #D36015 ;
	width: 50px ;
	height: 50px ;

	color: #fff ;
	line-height: 50px ;
	text-decoration: none ;
	text-align: center ;

	-webkit-transition:all 0.3s ;
	-moz-transition:all 0.3s ;
	transition:all 0.3s ;
}

.move-page-top:hover
{
	opacity: 0.85 ;
}

/*-----------たかみちゃん--------*/
#takami{
  min-height: 100vh;
  background-color: #dcc8dc;
  width: 1000px;
  margin: 0 auto;
}
.takami-title{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
}
.takami-explanation{
  text-align: center;
  margin-bottom: 100px;
}
.takami-pc{
  width: 300px;
  height: 300px;
  margin-bottom: 40px;
}
.takami-selfintro{
  line-height: 2;
}
.sns-icon{
  width: 40px;
  margin: 30px 20px;
  height: 40px;
}
.sns-icon:hover{
	opacity:0.5;
  cursor: pointer;
}

.sns-icon:active{
	position: relative;
	top: 3px;
}
.takami-month{
  width: 800px;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 100px;
}
.month-four{
  display: flex;
}
.month-pic{
  width: 200px;
  height: 200px;
}
.takami-footer{
  text-align: center;
}
.takami-matigai{
  text-align: center;
}
.matigai-pic{
  width: 500px;
  margin: 30px 0px;
}
.takami-sales{
  text-align: center;
  margin-top: 60px;
}
.three-stamp{
  display: flex;
}
.stamp{
  /*display: flex;*/
  width: 250px;
  margin: 30px auto;
}
.stamp-pic{
  width: 200px;
  height: 200px;
}
.stamp-pic:hover{
	opacity:0.7;
  cursor: pointer;
}

..stamp-pic:active{
	position: relative;
	top: 3px;
}
.balloon2-right {
  position: relative;
  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  padding: 7px 10px;
  width: 600px;
  height: 100px;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
  border-radius: 10px;
}

.balloon2-right:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-left: 12px solid #FFF;
  z-index: 2;
}

.balloon2-right:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-left: 14px solid #555;
  z-index: 1;
}

.balloon2-right p {
  margin: 0;
  padding-top: 20px;
  font-size: 1.5rem
}
.takami-comment{
  display: flex;
  width: 800px;
  margin: 0px auto;
}
/*フッター*/
footer{
  background: #412;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}
footer p{
  color: #fff;
  font-size: 0.9rem;
}
